atari-py
gym
#box2d
#box2d-kengz
jsanimation
keras-rl
jupyter
numpy
keras
tensorflow
matplotlib
pydot
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
pandas
sklearn
seaborn
pillow
opencv-python
